template(name="billingPage")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Billing
    .row
      .col-lg-4.col-lg-offset-4
        if Template.subscriptionsReady
          if isSubscriptionActive
            +billingDetails
          else
            +billingForm
        else
          +loadingBilling

template(name="billingForm")
  +autoForm(schema=billingFormSchema id="billingForm")
    .row
      +planOptions
    .row.top15
      .input-group.email
        .input-group-addon
          span.glyphicon.glyphicon-envelope
        +afFieldInput(name="email" type="email" placeholder="Email")
    .row.top15
      .input-group.number
        .input-group-addon
          span.glyphicon.glyphicon-credit-card
        +afFieldInput(name="number" type="text" placeholder="Card number")
    .row
      .col-lg-6.no-pad
        .input-group.expiry
          .input-group-addon
            span.glyphicon.glyphicon-calendar
          +afFieldInput(name="expiry" type="text" placeholder="MM/YY")
      .col-lg-6.no-pad
        .input-group.cvc
          .input-group-addon
            span.glyphicon.glyphicon-lock
          +afFieldInput(name="cvc" type="text" placeholder="CVC")
    .row.top15
      button.btn.btn-primary.center-block(type="submit" disabled=isSubmitting) Pay with Card
    .row.top15
      if isSubmitting
        +loadingBilling
      else
        .alert(class=alertClass)
          = alertMessage

template(name="planOptions")
  .text-center
    .btn-group.plan-options(data-toggle="buttons")
      each p in plans
        .btn.btn-default
          input(type="radio" value=p.name)
          = p.title
  +afFieldInput(name="plan" type="hidden" value=firstPlan.name)

template(name="billingDetails")
  .row
    p You are currently subscribed for <strong>#{plan}</strong> plan until <strong>#{activeUntil}</strong>. You will be charged for another month of subscription after this date.
    button.btn.btn-primary.center-block.cancel Cancel Subscription
  .row.top15
    if isSubmitting
      +loadingBilling

template(name="loadingBilling")
  img.img-responsive.center-block(src="/img/loading.gif", alt="loading")
