template(name="tvapp")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header
          | Welcome #{userName}!
        p
          | Use this page to update your application. Once you are done, click save at the bottom
          | of this page to update the application. The update can take a couple weeks
          | to accommodate time for the app store to review and process your submission.
        form.app-form
          .form-group
            label.app-label
              | Name
            input.app-text-input.form-control.text-name(
              type="text"
              name="name"
              placeholder="Your application name"
              value="#{name}"
            )
          .form-group
            label.app-label
              | Description
            textarea.app-text-input.form-control(
              name="description"
              cols="40"
              rows="5"
              placeholder="Description for your app"
            )
          .form-group
            label.app-label
              | Visual Assets
            .uploader-block.uploader-icon-small
              +imageUploader(id="1" width="400" height="240" name="assets_icon_small" button="Small Icon")
            .uploader-block.uploader-icon-big
              +imageUploader(id="2" width="1280" height="768" name="assets_icon_big" button="Big Icon")
            .uploader-block.uploader-banner
              +imageUploader(id="3" width="1920" height="720" name="assets_banner" button="Banner")
          .form-group
            label.app-label
              | Import Content
            p
              | Using your YouTube user, you can import content directly into Channel.
            +youtube

          if developer
            .form-group
              label.app-label
                | Upload Content
              p
                | Drag and drop media content to start the upload.
              +videoUploader

          #app-form.form-group.app-video-group
            label.app-label
              | Video Content
            +content
